<div class="section">
  <h1> Does the alcohol consumption of a country influence its beer reviews? </h1>
</div>

<div class="section-left">
  <p class="subtitle"> Context </p>
</div>

<div class="section-left">
  <p> The world can be divided by regions based on their alcohol consumption habits. 
    The <i>world</i> is then not split into countries anymore but into four <strong>culturally similar</strong>, (based on alcohol consumption) regions. 
    We can distinguish: the predominantly <strong>beer drinking</strong> countries, the predominantly <strong>wine drinking</strong> countries, the predominantly <strong>spirit drinking</strong> countries and the countries that don't have any predominance. <br> <br>
    Here is a map to visualize this: </p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 16/9" src="{{ "/assets/plots/map_principal_beverage.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
</div>

<div class="section-left">
  <p> Let's have a look at the mean in the ratings as function of the drinking habits, for each category: </p>
  <div class="user">
    <iframe style="width: 100%; height: 600px;" src="{{ "/assets/plots/grades_beverage.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
  <p>You can use your mouse to zoom on CI to see well that even if the differences are small, there are significant.
    You may want to zoom on upper values to have a better view of the situation (for example, put zoom with your cursor between 3 and 4). You can also use the dropdown to select the category!
    It would appear that countries that mostly drink beers, also give them better scores (in overall but also in each category!) ! Spirit and wine look more demanding, but what is behind this? Is it significant?</p>
</div>

</div>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 1" src="{{ "/assets/plots/sunburst.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
</div>


<div style="margin: 5px 0;" class="section">
  <h1> Plot Testing </h1>
  <p> We will now test some more fun interactive plots. </p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 5/3" src="{{ "/assets/plots/general.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
</div>
