<div class="user-details">
  <h1> Do alcohol consumption of a country influence its beer reviews? </h1>
</div>

<div style="margin: 5px 0;" class="user-details">
  <p> The world can be divided by regions based on their alcohol consumption habits. 
    The world is then not split into countries anymore but into four *culturally similar*, (based on alcohol consumption) regions. 
    We can distinguish: the predominantly **beer drinking** countries, the predominantly **wine drinking** countries, the predominantly **spirit drinking** countries and the countries that don't have any predominance. \
    Here is a map to visualize this: <p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 1" src="{{ "/assets/plots/map_principal_beverage.html" | prepend: site.baseurl }}" seamless></iframe>
  <p>You can use your mouse to zoom on CI to see well that even if the differences are small, there are significant.
  You may want to zoom on upper values to have a better view of the situation (for example, put zoom with your cursor between 3 and 4). You can also use the dropdown to select the category! 
It would appear that countries that mostly drink beers, also give them better scores (in overall but also in each category!) ! Spirit and wine look more demanding, but what is behind this? Is it significant? <p>
  <p>Let's dig a bit into the differences for each type of beer ...<p>
  <p>We want to see if we will find the same pattern! For the moment, we have 70 different beer styles.. We regroup them as fellow:<p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 1" src="{{ "/assets/plots/sunburst.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div style="margin: 5px 0;" class="user-details">
  <h1> Plot Testing </h1>
  <p> We will now test some more fun interactive plots. </p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 5/3" src="{{ "/assets/plots/general.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
</div>
