<div class="section">
  <h1> Does the alcohol consumption of a country influence its beer reviews? </h1>
</div>

<div class="section-left">
  <p class="subtitle"> Context </p>
</div>

<div class="section-left">
  <p> The world can be divided by regions based on their alcohol consumption habits. 
    The <i>world</i> is then not split into countries anymore but into four <strong>culturally similar</strong>, (based on alcohol consumption) regions. 
    We can distinguish: the predominantly <strong>beer drinking</strong> countries, the predominantly <strong>wine drinking</strong> countries, the predominantly <strong>spirit drinking</strong> countries and the countries that don't have any predominance. <br> <br>
    Here is a map to visualize this: </p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 16/9" src="{{ "/assets/plots/map_principal_beverage.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
</div>

<div class="section-left">
  <p class="subtitle"> Overview of the grades given per region </p>
</div>

<div class="section-left">
  <p> Let's have a look at the mean in the ratings as function of the drinking habits, for each category: </p>
  <div class="user">
    <iframe style="width: 100%; height: 600px;" src="{{ "/assets/plots/grades_beverage.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
  <p> Don't hesitate to use the zoom to better observe the mean differences and their confidence intervals! <br>
     You can also use the dropdown to select the grade category! <br>
    It would appear that countries that mostly drink beers, also give them better scores (in overall but also in each category!) ! Spirit and wine look more demanding, but <i>what is behind this? What does that mean?</i></p>
</div>

<div class="section-left">
  <p class="subtitle"> Separation of beer types into more general types </p>
</div>

</div>
<p>For the moment, we have 70 different beer styles. But let's regroup them into larger categories! Maybe we will find similar trends (better grades given by beer regions) in some beer types and not in others!  </p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 1;" src="{{ "/assets/plots/sunburst.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
  <p>Don't hesitate to have a click around!</p>
</div>

<div class="section-left">
  <p class="subtitle"> Let's examine the grade differences per beer type now! </p>
  <p>Now that we have more general types of beer, we can easily compare if the differences between grades we have still follow the same trend. Will we find the same pattern ( <i>eg better grades in beer countries</i>)?</p>
  <select name="Grade Type" id="grade-type">
    <option value="overall">Overall</option>
    <option value="palate">Palate</option>
    <option value="taste">Taste</option>
    <option value="appearance">Appearance</option>
    <option value="aroma">Aroma</option>
  </select>
  <div class="user select-plot-main" style="width: 100%; aspect-ratio: 16/9">
    <div class="select-plot" id="overall-plot" style="opacity: 0;">
      <iframe style="width: 100%; aspect-ratio: 16/9" src="{{ "/assets/plots/grades_type_overall.html" | prepend: site.baseurl }}" seamless></iframe>
    </div>
    <div class="select-plot" id="palate-plot" style="opacity: 0;">
      <iframe style="width: 100%; aspect-ratio: 16/9" src="{{ "/assets/plots/grades_type_palate.html" | prepend: site.baseurl }}" seamless></iframe>
    </div>
    <div class="select-plot" id="taste-plot" style="opacity: 0;">
      <iframe style="width: 100%; aspect-ratio: 16/9" src="{{ "/assets/plots/grades_type_taste.html" | prepend: site.baseurl }}" seamless></iframe>
    </div>
    <div class="select-plot" id="appearance-plot" style="opacity: 0;">
      <iframe style="width: 100%; aspect-ratio: 16/9" src="{{ "/assets/plots/grades_type_appearance.html" | prepend: site.baseurl }}" seamless></iframe>
    </div>
    <div class="select-plot" id="aroma-plot" style="opacity: 0;">
      <iframe style="width: 100%; aspect-ratio: 16/9" src="{{ "/assets/plots/grades_type_aroma.html" | prepend: site.baseurl }}" seamless></iframe>
    </div>
  </div>
  <p> Kieran paragraphe sur les p values... we still find the same trends... except for</p>
</div>

<div class="section-left">
  <p class="subtitle"> Are some regions more talkative than others? </p>
  <p> Kieran paragraphe, Are there differences in the number of reviews depending on the region? Some regions seem more expressive than others (give more reviews)... <br>
  Aitana: est ce qu'on pourrait pas ajouter une analyse sur le nombre moyen de mots par commentaire /voir si c'est aussi lié au nombre de reviews (meme juste un tableau ou une phrase) </p>
</div>

<div class="section-left">
  <p class="subtitle"> Ranking of the popularity of the types of beer </p>
</div>
</div>
<p>We consider that the popularity of a type of beer is calculated thanks to the number of reviews on this type of beer compared to the others. <br>
Let's see the ranking of general type of beers popularity (on the left), and for each general type we can observe the repartition for each sub-type. <br> <br>
Also, for each region, they dedicated a proportion of the total reviews number to different types of beers. Some beers are more popular in a region than in an other, for example, <i> wine region dedicated 19.39% of its reviews to Belgian/French Ale </i> which is more than all other regions and this information is shown on the plot thanks to the color of the corresponding bar.
The color of the bar is then determined by the principal_beverage region where this type of beer is more popular than in the other region.</p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 16/9" src="{{ "/assets/plots/general.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
  <p> Don't hesitate to use the cursor to see details on the number of reviews! </p>
</div>

<div class="section-left">
  <p class="subtitle"> Are there differences in the ABV [%] of the more popular beer per region? </p>
</div>
</div>
<p>Let's now take all the type of beers that we just found more popular in some regions than others and see if they have some particularity in terms of ABV %. <br>
Here are the mean values of ABV % of the beers that are more popular in a region than in the others:   </p>
  <div class="user">
    <img class="img-large" src="{{ "/assets/plots/ttest.png" | prepend: site.baseurl }}"></img>
  </div>
  <p> T-tests were conducted taking a specific region vs all other three regions combined and confirmed that all these differences are indeed significant!</p>
</div>

<div class="section-left">
  <p class="subtitle">Heatmap of the correlations of alcohol ABV [%] </p>
</div>
</div>
<p>  Kieran paragraphe </p>
</div>

<div class="section-left">
  <p class="subtitle">Comments analysis now! </p>
</div>
</div>
<p>  Aitana and Hendrik </p>
</div>
<br><br>




<div style="margin: 5px 0;" class="section">
  <h1> Test Aitana</h1>
  <p> J'essaye de voir si les widgetFigure marhce sur un site web</p>
  <div class="user">
    <iframe style="width: 100%; aspect-ratio: 5/3" src="{{ "/assets/plots/test.html" | prepend: site.baseurl }}" seamless></iframe>
  </div>
</div>

